/* Start Varibles  */
:root {
    --main-color: #19c8fa ;
}
/* End Varibles  */


/* Start Global Rules  */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth ;
}

body {
    font-family: "Open Sans" , sans-serif;
    background-color: black;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}




/* Small */

@media (max-width:767px){
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px ;
    }
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

/* End Global Rules  */


.logo img {
    width: 200px;
}


/* Start header  */

header {

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    width: 100%;
    bottom: -1px;
}

.logo img {
    width: 200px;
    height: 80px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    display: flex;

}

header nav ul li a {
    display: block;
    color: red;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 50px 10px;
    position: relative;
    z-index: 3;
}

header nav ul li a.active , 
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid black;
}

header .form i {
    color: white;
    position: absolute;
}